* {margin:0; padding:0;}
body{
      width:auto;
	  background-color:#167687;
      text-align:left;
	  font-family:Arial; 
	  font-size:14px; 
	  line-height:20px;
}
.main{ height:auto; margin:0 auto; display:block; overflow:hidden;}
.header{}
.header img{margin-left:7.8%; margin-top:5px; width:60%; height:160px;}
.header form h2{ margin-left:75%;margin-right:8%; padding-top:25px;margin-bottom:20px;}
.header form table{padding-top:50px; width: 160;margin-left:75%; margin-right:8%; margin-bottom: 30px;}
.mainmenu{width:100%; margin-left:7.8%; margin-top:40px;margin-right:8%;}
.maincontent{margin-left:7.8%; overflow:hidden; margin-top:20px;}
.maincontent{margin-bottom:20px;height:auto;visibility:visible;}
.content{float:left; width:60%;height:50%px; background:white;}
.content p{margin-left:5px;}
.sidebar{float:right; width:30%; height:110%; background:white; margin-right:0%;}
.sidebar ul{list-style:none}
.sidebar ul li{padding:15px; border-bottom:3px solid; color:#ddd;}
.sidebar ul li a{text-decoration:none; color:#000;}
.footer{margin-left:7.7%; margin-right:8%; background:#D2D2E6; color:fff; margin-top:25px; padding:10px; text-align:center;}